<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>CSE A is justanotherclassroom!</title>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<br />
	<div class="container">
		
		<div class="hero-unit">
			<h1>Student Placement Forms</h1>
			<p>
				SRM University Vadapalani Campus
			</p>
			
			
			
			<form action="/admin/login" method="post" accept-charset="utf-8" class="form-inline">
				<input type="text" class="input" name="user[username]" placeholder="Admin Username">
				<input type="password" class="input" name="user[password]" placeholder="Password">
				<button type="submit" class="btn">Log in</button>
			</form>

			
			
		</div>
		
		<footer>
			<p>
				Designed and developed by <a href="http://www.facebook.com/prabhu">Prabhu S</a> and <a href="http://www.facebook.com/quickdash">Arvind Ravi</a>
			</p>
		</footer>
		
	</div>
</body>
</html>