<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Student Info | SRM University Vadapalani Campus</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="/assets/bootstrap/js/jquery.js"></script>
	<script type="text/javascript" charset="utf-8">
		function toggleStatus() {
		    if ($('#tE').is(':checked')) {
				$('#sB').removeAttr('disabled');
		        
		    } else {
		        $('#sB').attr('disabled', true);
		    }   
		}
		$(function(){
			
			
		});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30701304-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div class="container">
		<br /><br/>
		<div class="row">
			<h1>Students Who Haven't filled the forms yet! <small><%= @dept %> Department</small><small>Totally <%= @studentsleft.count %></small></h1>
			
		</div>
		<br />
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Registration Number</th>
					</tr>
				</thead>
				<tbody>
					<% @studentsleft.each do |s| %>
					<tr>
						<td><%= s %></td>
					</tr>
					<% end %>
				</tbody>
				</table>
		</div>
		
	</div>
	
	
</body>
</html>